# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle
on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.commits[0].message, '[ci-skip]')"
    steps:
    - uses: actions/checkout@v3.0.0
    - uses: gradle/wrapper-validation-action@v1
    - name: Set up JDK 17
      uses: actions/setup-java@v3.0.0
      with:
        distribution: temurin
        java-version: 17
        cache: gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Test with Gradle
      run: ./gradlew test
    - name: Build with Gradle
      run: ./gradlew build
    - name: Upload artifacts
      uses: "actions/upload-artifact@v2.2.3"
      with:
        name: "IridiumSkyblock"
        path: "build/libs/IridiumSkyblock-*.jar"
  upload:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: thecodemonkey/action-get-gradle-version@master
        id: version
        with:
          file: "build.gradle.kts"
      - uses: actions/download-artifact@v3.0.2
        with:
          name: "IridiumSkyblock"
          path: "./"
      - name: Publish to Nexus
        uses: sonatype-nexus-community/nexus-repo-github-action@master
        with:
          serverUrl: "https://nexus.iridiumdevelopment.net/"
          username: "${{ secrets.NEXUS_USERNAME }}"
          password: "${{ secrets.NEXUS_PASSWORD }}"
          format: "maven2"
          repository: "maven-releases"
          coordinates: "groupId=com.iridium artifactId=IridiumSkyblock version=${{steps.version.outputs.version}} generate-pom=on"
          assets: "extension=jar"
          filename: "IridiumSkyblock-*.jar"
