name: Publish Artifacts
on:
  release:
    types: [ published ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: gradle/wrapper-validation-action@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v4.7.0
        with:
          distribution: temurin
          java-version: 17
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Test with Gradle
        run: ./gradlew test
      - name: Build with Gradle
        run: ./gradlew build
      - name: Upload artifacts
        uses: "actions/upload-artifact@v4.6.0"
        with:
          name: "IridiumSkyblock"
          path: "build/libs/IridiumSkyblock-*.jar"

  update-release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Downloading artifact
        uses: actions/checkout@v4
      - uses: thecodemonkey/action-get-gradle-version@master
        id: version
        with:
          file: "build.gradle.kts"
      - uses: actions/download-artifact@v4.1.8
        with:
          name: "IridiumSkyblock"
          path: "./"

      - name: Upload release asset
        uses: softprops/action-gh-release@v2
        with:
          files: "IridiumSkyblock-*.jar"

  publish-nexus:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Downloading artifact
        uses: actions/checkout@v4
      - uses: thecodemonkey/action-get-gradle-version@master
        id: version
        with:
          file: "build.gradle.kts"
      - uses: actions/download-artifact@v4.1.8
        with:
          name: "IridiumSkyblock"
          path: "./"

      - name: Publishing to Nexus
        uses: sonatype-nexus-community/nexus-repo-github-action@master
        with:
          serverUrl: "https://nexus.iridiumdevelopment.net/"
          username: "${{ secrets.NEXUS_USERNAME }}"
          password: "${{ secrets.NEXUS_PASSWORD }}"
          format: "maven2"
          repository: "maven-releases"
          coordinates: "groupId=com.iridium artifactId=IridiumSkyblock version=${{steps.version.outputs.version}} generate-pom=on"
          assets: "extension=jar"
          filename: "IridiumSkyblock-*.jar"

#  publish-hangar:
#    needs: build
#    runs-on: ubuntu-latest
#    steps:
#      - name: Downloading artifact
#        uses: actions/checkout@v2
#      - uses: thecodemonkey/action-get-gradle-version@master
#        id: version
#        with:
#          file: "build.gradle.kts"
#      - uses: actions/download-artifact@v3.0.2
#        with:
#          name: "IridiumSkyblock"
#          path: "./"
#
#      - if: github.event.release.prerelease == true
#        name: Publishing to Hangar (Beta)
#        uses: benwoo1110/hangar-upload-action@v1.0.1
#        with:
#          api-token: ${{ secrets.HANGAR_API_TOKEN }}
#          slug: IridiumSkyblock
#          channel: beta
#          version: ${{steps.version.outputs.version}}
#          files: "IridiumSkyblock-*.jar"
#
#      - if: github.event.release.prerelease == false
#        name: Publishing to Hangar (Release)
#        uses: benwoo1110/hangar-upload-action@v1.0.1
#        with:
#          api-token: ${{ secrets.HANGAR_API_TOKEN }}
#          slug: IridiumSkyblock
#          channel: release
#          version: ${{steps.version.outputs.version}}
#          files: "IridiumSkyblock-*.jar"

  publish-modrinth:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Downloading artifact
        uses: actions/checkout@v4
      - uses: thecodemonkey/action-get-gradle-version@master
        id: version
        with:
          file: "build.gradle.kts"
      - uses: actions/download-artifact@v4.1.8
        with:
          name: "IridiumSkyblock"
          path: "./"

      - if: github.event.release.prerelease == true
        name: Publish to Modrinth (Beta)
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          files: "IridiumSkyblock-*.jar"
          version: ${{steps.version.outputs.version}}
          version-type: beta
          modrinth-id: uVMG0MzO
          modrinth-featured: false
          modrinth-unfeature-mode: any
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          loaders: |
            paper
            spigot
          game-versions: |
            >=1.13 <=1.20.4

      - if: github.event.release.prerelease == false
        name: Publish to Modrinth (Release)
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          files: "IridiumSkyblock-*.jar"
          version: ${{steps.version.outputs.version}}
          version-type: release
          modrinth-id: uVMG0MzO
          modrinth-featured: true
          modrinth-unfeature-mode: any
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          loaders: |
            paper
            spigot
          game-versions: |
            >=1.13 <=1.20.4